<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <settings>
    <setting name="logImpl" value="LOG4J"/>
  </settings>
    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer" />
        <typeAlias alias="Long" type="java.lang.Long" />
        <typeAlias alias="String" type="java.lang.String" />
        <typeAlias alias="HashMap" type="java.util.HashMap" />
        <typeAlias alias="Date" type="java.util.Date" />
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap" />
        <typeAlias alias="ArrayList" type="java.util.ArrayList" />
        <typeAlias alias="LinkedList" type="java.util.LinkedList" />
        <typeAlias alias="Users" type="com.internship.demo.domain.Users" />
        <typeAlias alias="Role" type="com.internship.demo.domain.Role" />
        <typeAlias alias="Book" type="com.internship.demo.domain.Book" />
        <typeAlias alias="Category" type="com.internship.demo.domain.Category" />
    </typeAliases>
    <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/QLTV"/>
        <property name="username" value="root"/>
        <property name="password" value="hungphuc"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mybatis/mapper/UsersMapper.xml"/>
    <mapper resource="mybatis/mapper/RoleMapper.xml"/>
    <mapper resource="mybatis/mapper/BookMapper.xml"/>
    <mapper resource="mybatis/mapper/CategoryMapper.xml"/>
  </mappers>
</configuration>