<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.internship.demo.model.mapper.CategoryModelMapper">


	<resultMap id="CategoryResultMap" type="Category">
		<result property="idParent" column="id_parent" />
		<result property="createUser" column="create_user" />
		<result property="updateUser" column="update_user" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="status" column="is_deleted" />
	</resultMap>

	<select id="getListCategory" resultMap="CategoryResultMap">
		SELECT
		*
		FROM categories c
		WHERE c.is_deleted = 0
		LIMIT
		#{recordStart},#{pageSize}
	</select>

	<select id="getListCategoryPagination"
		resultMap="CategoryResultMap">
		SELECT
		*
		FROM categories c
		WHERE c.is_deleted = 0
		<if test='name != ""'>
			AND c.name LIKE #{name}
		</if>
		LIMIT
		#{recordStart},#{pageSize}
	</select>

	<select id="countTotalCategory" resultType="Long">
		SELECT
		COUNT(*)
		FROM
		categories c
		WHERE c.is_deleted = 0
	</select>

	<select id="findCategoryById" resultMap="CategoryResultMap">
		SELECT
		*
		FROM categories c
		WHERE c.id = #{id}
	</select>

	<select id="checkCategoryValid" resultType="Long">
		SELECT
		COUNT(*)
		FROM
		categories c
		WHERE #{id}
		IN (SELECT b.id_category FROM books b)
	</select>

	<insert id="insertCategory" parameterType="Category">
		INSERT INTO
		categories(name,
		create_user, create_time, update_user, update_time)
		VALUES(#{name},#{createUser},#{createTime},#{updateUser},#{updateTime})
	</insert>

	<update id='updateCategory' parameterType='Category'>
		UPDATE categories c
		SET c.name = #{name}, c.update_user = #{updateUser}, c.update_time =
		#{updateTime}
		WHERE c.id = #{id};
	</update>

	<update id="deleteCategory" parameterType="Long">
		UPDATE categories c
		SET c.is_deleted = 1
		WHERE c.id = #{id};
	</update>
</mapper>