<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
<style>
.error {
	color: red;
	font-size: 1.2rem;
}
</style>
</head>
<body>

	<div th:replace="layout :: header"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="text-center">Thay đổi mật khẩu</h3>
			</div>
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<form class="form-horizontal" id="updatePassword" method="post"
					th:action="@{/thay-doi-mat-khau}">
					<div class="form-group">
						<label class="control-label col-sm-4" for="email">Nhập mật
							khẩu hiện tại:</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="password"
								id="password" placeholder="Mật khẩu hiện tại">
							<span class="error" th:if="${error != null}" th:text="${error}"></span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="email">Nhập mật
							khẩu mới:</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" name="passwordNew"
								id="passwordNew" placeholder="Mật khẩu mới">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4" for="pwd">Xác nhận
							lại mật khẩu:</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" name="rePassword"
								id="rePassword" placeholder="Xác nhận mật khẩu">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-2">
							<button type="submit" class="btn btn-default">Cập nhật</button>
						</div>
						<div class="col-sm-3">
							<a th:href=@{/home}><button type="button"
									class="btn btn-default">Hủy</button></a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div th:replace="layout :: footer"></div>

	<script>
		$("#updatePassword").validate({
			rules : {
				password : "required",
				passwordNew : "required",
				rePassword : {
					required : true,
					equalTo : "#passwordNew"
				}
			},
			messages : {
				password : "Mật khẩu không được để trống",
				passwordNew : "Mật khẩu mới không được để trống",
				rePassword : {
					equalTo : "Mật khẩu xác nhận không đúng",
					required : "Mật khẩu xác nhận không được để trống"
				}

			}
		});
	</script>
</body>
</html>
