<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/style.css}" />
</head>
<body>
	<div class="login-page">
		<p th:if="${errorLogin != null}" th:text="${errorLogin}"></p>
		<div class="form">
			<form method="POST" th:action="@{/register}" class="register-form">
				<input type="text" name="username" placeholder="name" required="required"/> 
				<input type="password" name="password" placeholder="password" required="required"/> 
				<input type="text" name="mail" placeholder="email address" required="required"/>
				<input type="text" name="address" placeholder="address" required="required"/>
				<input type="text" name="phone" placeholder="phone" required="required"/>
				<button>create</button>
				<p class="message">
					Already registered? <a href="#">Sign In</a>
				</p>
			</form>
			<form method="POST" th:action="@{/login}" class="login-form">
				<input type="text" name="username" placeholder="username" required="required"/> 
				<input type="password" name="password" placeholder="password" required="required"/>
				<button>Login</button>
				<p class="message">
					Not registered? <a href="#">Create an account</a>
				</p>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-3.4.0.min.js}"></script>
	<script>
		$('.message a').click(function() {
			$('form').animate({
				height : "toggle",
				opacity : "toggle"
			}, "slow");
		});
	</script>
</body>
</html>