<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/style.css}" />
<script type="text/javascript" th:src="@{/js/jquery-3.4.0.min.js}"></script>
<script th:src="@{/js/jquery.validate.min.js}"></script>
</head>
<body>
	<div class="login-page">
		<div class="form">
			<form method="POST" th:action="@{/user/register}" id="form-register">
				<input type="text" name="username" id="username" placeholder="name" required="required" />
				<p class="error" th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
				<input type="password" name="password" id="password" placeholder="password" required="required" />
				<input type="password" name="rePassword" id="rePassword" placeholder="confirm password" required="required" />
				<p class="error" th:if="${errorPassword != null}" th:text="${errorPassword}"></p>
				<input type="email" name="mail" id="mail" placeholder="email address" required="required" />
				<p class="error" th:if="${errorMail != null}" th:text="${errorMail}"></p>
				<input type="text" name="address" placeholder="address" required="required" /> 
				<input type="number" name="phone" placeholder="phone" required="required" />
				<p class="error" th:if="${errorPhone != null}" th:text="${errorPhone}"></p>
				<button>create</button>
				<p class="message">
					Already registered? <a th:href="@{/login}">Sign In</a>
				</p>
			</form>
		</div>
	</div>
	<script>
		$(document).ready(function() {

			$("#form-register").validate({
				rules : {
					username : "required",
					password : "required",
					rePassword : {
						required : true,
						equalTo : "#password"
					},
					mail : "required",
					address : "required",
					phone : "required"
				},
				messages : {
					username : "Tên đăng nhập không được để trống",
					password : "Mật khẩu không được để trống",
					rePassword : {
						equalTo : "Mật khẩu xác nhận không đúng",
						required : "Mật khẩu xác nhận không được để trống"
					},
					mail : "Email không được để trống",
					address : "Địa chỉ không được để trống",
					phone: "Số điện thoại không được để trống"
				}
			});
		});
	</script>
</body>
</html>