<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/style.css}" />
</head>
<body>
	<div class="login-page">
		<div class="form">
			<form method="POST" th:action="@{/forgot/reset}" id="reset-password"
				class="login-form">
				<p style="color: red;" th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
				<input type="hidden" name="token" th:value="${token}" /> <input
					type="password" name="passwordNew" id="passwordNew"
					placeholder="Mật khẩu mới" required="required" /> <input
					type="password" name="rePassword" id="rePassword"
					placeholder="Xác nhận lại mật khẩu" required="required" />
				<button>Đặt lại mật khẩu</button>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-3.4.0.min.js}"></script>
	<script th:src="@{/js/jquery.validate.min.js}"></script>
	<script>
		$("#reset-password").validate({
			rules : {
				passwordNew : "required",
				rePassword : {
					required : true,
					equalTo : "#passwordNew"
				}
			},
			messages : {
				passwordNew : "Mật khẩu không được để trống",
				rePassword : {
					equalTo : "Mật khẩu xác nhận không đúng",
					required : "Mật khẩu xác nhận không được để trống"
				}

			}
		});
	</script>
</body>
</html>